*, *::before, *::after{
    box-sizing: border box;
    font-family: 'Times New Roman', Times, sans-serif;
    font-weight: normal;
}

body{ 
    background-color: whitesmoke;
    padding: 0;
}

.calculator {
    padding: 10px 10px 10px 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}
.calculator > button {
    cursor: pointer;
    font-size: 25px;
    margin: 2px;
    border-radius: 50%;
}
.btn-default:hover{
    background-color: gray;
}
.calculator > button :hover{
    background-color: black;
}
.output{
    grid-column: 1 / -1; 
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operation{
    color: rgba(255,255,255,.7);
    font-size: 50px;
}
.output .current-operation{
    color: rgba(255,255,255,.7);;
    font-size: 50px;
}